#root {
  display: grid;
  padding: 2rem;
  place-items: center;
}

.error-container {
  width: 100%;
  background-color: #ffe8e9;
  color: #e52330;
  border-radius: 8px;
  padding: 16px;
}

.clickable {
  cursor: pointer;
}
