#root {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  background: #dfe6e9;  
}

.error-container {
  width: 100%;
  background-color: #ffe8e9;
  color: #e52330;
  border-radius: 8px;
  padding: 16px;
}

.clickable {
  cursor: pointer;
}

.main-container {
  width: 600px;
  height: 400px;
  overflow-y: auto;
  padding: 36px;
  background-color: white;
  border-radius: 8px;
}
